.main{
	width: 200px;
	background-color: purple;
	border-left: 8px solid green;
	
	padding:10px 10px 10px 10px;
}
#heading{
	font-size: 20px;
	text-color: white;
	text-decoration: underline;
	
	
}
 
	
}